@font-face {
  font-family: "barber-icon";
  src: url("../../fonts/barber-icon.eot?pkr5cj");
  src: url("../../fonts/barber-icon.eot?pkr5cj#iefix")
      format("embedded-opentype"),
    url("../../fonts/barber-icon.ttf?pkr5cj") format("truetype"),
    url("../../fonts/barber-icon.woff?pkr5cj") format("woff"),
    url("../../fonts/barber-icon.svg?pkr5cj#barber-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.bs {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "barber-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bs-barbershop:before {
  content: "\e900";
}
.bs-barber-shop:before {
  content: "\e901";
}
.bs-barber-shop-1:before {
  content: "\e902";
}
.bs-beard:before {
  content: "\e903";
}
.bs-blade:before {
  content: "\e904";
}
.bs-bow-tie:before {
  content: "\e905";
}
.bs-boy:before {
  content: "\e906";
}
.bs-brush:before {
  content: "\e907";
}
.bs-clock:before {
  content: "\e908";
}
.bs-comb:before {
  content: "\e909";
}
.bs-comb-1:before {
  content: "\e90a";
}
.bs-comb-2:before {
  content: "\e90b";
}
.bs-comb-3:before {
  content: "\e90c";
}
.bs-cream-1:before {
  content: "\e90d";
}
.bs-cream-2:before {
  content: "\e90e";
}
.bs-cream-3:before {
  content: "\e90f";
}
.bs-gel:before {
  content: "\e910";
}
.bs-girl:before {
  content: "\e911";
}
.bs-hairbrush:before {
  content: "\e912";
}
.bs-hair-brush:before {
  content: "\e913";
}
.bs-hairbrush-1:before {
  content: "\e914";
}
.bs-hair-brush-1:before {
  content: "\e915";
}
.bs-hairbrush-2:before {
  content: "\e916";
}
.bs-hair-clip:before {
  content: "\e917";
}
.bs-hair-cream:before {
  content: "\e918";
}
.bs-hair-curler:before {
  content: "\e919";
}
.bs-hair-dryer:before {
  content: "\e91a";
}
.bs-hair-pin:before {
  content: "\e91b";
}
.bs-hair-salon:before {
  content: "\e91c";
}
.bs-hand-mirror:before {
  content: "\e91d";
}
.bs-hot-stones:before {
  content: "\e91e";
}
.bs-lotion:before {
  content: "\e91f";
}
.bs-man:before {
  content: "\e920";
}
.bs-mirror:before {
  content: "\e921";
}
.bs-mirror-1:before {
  content: "\e922";
}
.bs-moustache:before {
  content: "\e923";
}
.bs-oil-bottle:before {
  content: "\e924";
}
.bs-perfume:before {
  content: "\e925";
}
.bs-razor:before {
  content: "\e926";
}
.bs-razor-1:before {
  content: "\e927";
}
.bs-razor-2:before {
  content: "\e928";
}
.bs-ream:before {
  content: "\e929";
}
.bs-scissors:before {
  content: "\e92a";
}
.bs-scissors-1:before {
  content: "\e92b";
}
.bs-shampoo:before {
  content: "\e92c";
}
.bs-soap:before {
  content: "\e92d";
}
.bs-soap-1:before {
  content: "\e92e";
}
.bs-spray-bottle:before {
  content: "\e92f";
}
.bs-straighten:before {
  content: "\e930";
}
.bs-towel:before {
  content: "\e931";
}
