/*
    Theme Responsive Design
*/

@media (max-width: 1024px) {
  ul.nav > li > a {
    padding: 0 10px;
  }
  .testimonial_item p {
    font-size: 22px;
    line-height: 32px;
  }
}

/* ---- Start of max-width 992px CSS ---- */
@media (max-width: 992px) {
  .sm-padding {
    padding: 15px;
  }
  .main_slide {
    height: 510px;
  }
  .about_section .about_content {
    padding: 0;
  }
  .about_section .about_img_2 {
    margin: -90px 0 0 150px;
  }
  .about_section .about_img_3 {
    margin: -175px 0 0 31px;
  }
  .company {
    padding-top: 40px;
  }
  .menu-wrap ul.nav {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .header-btn {
    margin-right: 50px;
    margin-left: 0;
  }
  .header-btn .menu-btn {
    font-size: 10px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
  }
  .testimonial_section {
    padding: 100px 0;
  }
  .sidebar-wrap {
    padding-left: 0;
  }
}
/* ---- End of max-width 992px CSS ---- */

/* ---- Start of min-width 480px and max-width 768px CSS ---- */
@media all and (min-width: 480px) and (max-width: 768px) {
}
/* ---- End of min-width 480px and max-width 768px CSS ---- */

/* ---- Start of max-width 767px CSS ---- */
@media all and (max-width: 767px) {
  body,
  p {
    font-size: 13px;
    line-height: 24px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
  }
  p br {
    display: none;
  }
  .about_content h2,
  .section_heading h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .testimonial_section,
  .padding {
    padding: 60px 0;
  }
  .xs-padding {
    padding: 15px;
  }
  .main_slide {
    height: 420px;
  }
  .hero_section .hero_content h1,
  .slider_content h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .slider_content h3 {
    margin-bottom: 5px;
  }
  .hero_section .hero_content h3 {
    margin-bottom: 10px;
  }
  .page_header {
    height: 380px;
  }
  .book_bg,
  .about_img {
    display: none;
  }
  .cta_section .cta_content h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .blog-single-content h2 a {
    font-size: 22px;
    line-height: 28px;
  }
  .blog-single-content h2 {
    line-height: 28px;
  }
  blockquote p {
    line-height: 32px;
  }
  .breadcrumb {
    right: auto;
    top: auto;
    bottom: -50px;
    left: -15px;
    margin: 0;
  }
  .contact_form .form-group .col-sm-6:first-child {
    margin-bottom: 15px;
  }
  .coment-form .form-group .col-sm-4:last-child {
    margin-top: 15px;
  }
  .footer_social,
  .footer_section {
    text-align: center;
  }
  .content_inner h2 {
    font-size: 24px;
  }
  .content_inner h3 {
    font-size: 13px;
  }
  .content_inner a {
    font-size: 10px;
    padding: 0 15px;
  }
}
/* ---- End of max-width 767px CSS ---- */

/* ---- Start of max-width 480px CSS ---- */
@media all and (max-width: 480px) {
  .hero_height {
    height: 380px;
  }
  .footer_section .copyright,
  .footer_social {
    text-align: center;
  }
  .coment-form .form-group .col-sm-4 {
    margin-bottom: 15px;
    margin-top: auto;
  }
  .coment-form .form-group .col-sm-4:last-child {
    margin: 0;
  }
  .reserv_form .form-group .col-xs-6:first-child {
    margin-bottom: 15px;
  }
}
/* ---- End of max-width 480px CSS ---- */

/* ---- Start of max-width 420px CSS ---- */
@media all and (max-width: 420px) {
}
/* ---- End of max-width 420px CSS ---- */

/* ---- Start of max-width 380px CSS ---- */
@media all and (max-width: 380px) {
  .slider_content .btn_group a {
    margin: 0 10px 10px 0;
  }
}
/* ---- End of max-width 380px CSS ---- */
